</div>
<div id="ani" class="jumbotron animated slideInUp">
<h4 id="hnMain" class="animated x"><hr/>HackerNews<hr/></h4>
	<h3>Share your links,</h3>
	<h3>Mention job postings,</h3>
	<h3>Help your fellow hackers!</h3><span>
	<%= link_to "Sign up", new_user_path, class: 'btn btn-hg btn-link' %>|
	<%= link_to "Log in!", login_path, class: 'btn btn-hg btn-link' %></span>
	<i class="fa fa-4x fa-angle-down animated infinite pulse"></i>
</div>
<script>
	<% if session[:user_id].nil? %>
		$('.container').remove();
		$('#myNav').remove();
		window.onload=function(){
			$('.x').removeClass('x').addClass('bounceIn');
		};
	<% end %>
</script>