<nav id="myNav" class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/"> <i class="fa fa-users"></i> ]-[acker|\|ews</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
      <li class="active"><a href="#fakelink">Users</a></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
    <% end %>
     </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
